<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Movie Data</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h3><a href="https://www.themoviedb.org/?language=es">The Movie DB (TMDB)</a></h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Icons</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h3><a href="https://www.flaticon.es">Flaticon</a></h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-title>This project</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h3><a href="https://github.com/marc4919/movie-finder">Github Repository</a>
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
